[submodule ".vim/plugged/coc.nvim"]
	path = .vim/plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule ".vim/plugged/fzf"]
	path = .vim/plugged/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/plugged/fzf.vim"]
	path = .vim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/plugged/gruvbox"]
	path = .vim/plugged/gruvbox
	url = https://github.com/gruvbox-community/gruvbox.git
[submodule ".vim/plugged/scalpel"]
	path = .vim/plugged/scalpel
	url = https://github.com/wincent/scalpel.git
[submodule ".vim/plugged/undotree"]
	path = .vim/plugged/undotree
	url = https://github.com/mbbill/undotree.git
[submodule ".vim/plugged/vim-airline"]
	path = .vim/plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/plugged/vim-airline-themes"]
	path = .vim/plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/plugged/vim-apm"]
	path = .vim/plugged/vim-apm
	url = https://github.com/ThePrimeagen/vim-apm.git
[submodule ".vim/plugged/vim-be-good"]
	path = .vim/plugged/vim-be-good
	url = https://github.com/ThePrimeagen/vim-be-good.git
[submodule ".vim/plugged/vim-commentary"]
	path = .vim/plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/plugged/vim-fugitive"]
	path = .vim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/plugged/vim-go"]
	path = .vim/plugged/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/plugged/vim-polyglot"]
	path = .vim/plugged/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule ".vim/plugged/vim-repeat"]
	path = .vim/plugged/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/plugged/vim-startify"]
	path = .vim/plugged/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule ".vim/plugged/vim-surround"]
	path = .vim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/plugged/vim-vue"]
	path = .vim/plugged/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule ".vim/autoload/vim-plug"]
	path = .vim/autoload/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".local/share/nvim/site/autoload/vim-plug"]
	path = .local/share/nvim/site/autoload/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".vim/plugged/nvim-lspconfig"]
	path = .vim/plugged/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule ".vim/plugged/completion-nvim"]
	path = .vim/plugged/completion-nvim
	url = https://github.com/nvim-lua/completion-nvim.git
[submodule ".vim/plugged/diagnostic-nvim"]
	path = .vim/plugged/diagnostic-nvim
	url = https://github.com/nvim-lua/diagnostic-nvim.git
[submodule ".vim/plugged/vim-prettier"]
	path = .vim/plugged/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
